*{
    margin: 0%;
    box-sizing: border-box;
    
    
}

body{
    font-family: Arial, sans-serif;
    display: flex;

}

.left{
    background-color: rgb(28, 28, 28);
    color: white;
    width: 100%;
    height: 100%;
}

.right{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.left .top{
    margin-left: 3rem;
}

.left .top h3{
    margin-top: 3rem;
   margin-left: 0.4rem;
    font-size: 1.2rem;
}

.left .top p{
    font-size: 3rem;
    margin-top: 4rem;

}

.left .top .text{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    opacity: 0.8;
}


.left .bottom{
    margin-left: 3rem;
    margin-top: 7rem;
}
.left .bottom p{
    opacity:0.3;
    
}
.left  .img{
    margin-top :5rem ;
    width: 100%;
    
}

.companies-logo{
    display:flex;
    align-items:center;
    gap:3rem;
    margin-top:3rem;
    margin-left: 1.5rem;
    padding-right: 2rem;
}

.companies-logo img{
    height:30px;
    width:auto;
    margin:0;
}

.companies-logo .salesforce{
    height: 40px;
}
.rating{
    display:flex;
    align-items:center;
    gap:8px;
    margin-top:2rem;
    font-size:16px;
    opacity: 0.8;
}